#register_team
  = form_for @team do |f|
    -if @team.errors.any?
      #error_explanation
        %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
        %ul
          - @team.errors.full_messages.each do |msg|
            %li= msg
    = f.label :member_one
    = f.text_field :member_one
    = f.label :role_one, "Role"
    = f.text_field :role_one
    = f.label :member_two
    = f.text_field :member_two
    = f.label :role_two, "Role"
    = f.text_field :role_two
 
    = f.submit
