#completed
  = "Congratulations! #{current_team.member_one} and #{current_team.member_two}."
  = "Your team as finished the HUNT. Get in touch with co-ordinator"
  .center
    = image_tag "Treasure_Chest.png"
