!!!
%html
  %head
    %title
      = "Ruby TGIT Treasure Hunt"
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
  %body.mynewfont_normal
    %span#atul
      = image_tag "atul.png"
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      #head
        %h1.mynewfont
          = "Ruby TGIT Treasure Hunt"
      #breadcrumb
        %p.notice
          = notice
        %p.alert
          = alert       
      #content
        = yield
